.header{
	height:100px; 
	background-color: #f8f8f3;
	padding: 15px 30px;
	width: 100vw;
	position: fixed;
	.logo{
		width: 115px; 
		height: 60px;
		background-image: url('../assets/LOGO-white-background.PNG');
		background-repeat: no-repeat; 
		background-size: cover;
		background-color: black;
		display: inline-block;
	}
	.login{
		float: right;

		span{
			margin:0 15px;
		}
	}
}
	.untangle-btn-1{
		padding: 20px 20px;
	    border-radius: 10px;
	    background-color: #ec8675;
	    border:0; 
	    box-shadow: 0 0 0 0 #000000;
	}
	.bold{
		font-weight:600;
	}
	.untangle-input-1{
    margin:20px auto;
    padding: 25px 15px;
    border:0;
    border-radius:5px; 
    background-color:#f2f2f2;
  }