<div class="container-fluid main-container container1">
	<div class="left">
		<div class="left-image"></div>
	</div>
	<div class="right">
		<h1 class="top-text">Money Coach In Your Pocket</h1>
		<h2 class="top-description">A personalized financial management and education platform</h2>
		<button class="untangle-btn-1">Sign up for beta trial</button>
	</div>
</div>
<div class="container-fluid container2">
	<div class="above-info">
		
	</div>
	<div class="info row">
		<div class="col">
			<h3>100</h3>
			<h5>HAPPY CLIENTS</h5>
		</div>
		<div class="col">
			<h3>30 yrs</h3>
			<h5>OF EXPERIENCE</h5>
		</div>
		<div class="col">
			<h3>1000</h3>
			<h5>COMMUNITY MEMBERS</h5>
		</div>
	</div>
	<div></div>
</div>
<div class="container-fluid main-container container3">
	<div class="left">
		<div class="left-image"></div>
	</div>
	<div class="right">
		
		<h2 class="top-description">Change how you interact with your <span class=bold>now money</span> and your <span class=bold>future money</span></h2>
		<p>Q: who can benfit from a fully customizable online .... who can benfit from a fully customizable online ....:</p>
		<p>A: Literally Everyone who can benfit from a fully customizable online ....who can benfit from a fully customizable online .... who can benfit from a fully customizable online ....who can benfit from a fully customizable online ....</p>
	</div>
</div>
<div class="container-fluid container4">
	<div class="white-block"></div>
	<div class="signup-form">
		<div>
			<h1>Get our free newsletter</h1>
			<h5>Signup to our newsletter to ge Signup to our newsletter to get Signup to our newsletter to get Signup to our newsletter to get Signup to our newsletter to gett</h5>
		</div>
		 <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
		 	<input formControlName = "name" class="untangle-input-1" type="" placeholder="name">
			<input formControlName = "email" class="untangle-input-1" placeholder="email">
			<button class="untangle-btn-1">Signup</button>
		 </form>
		
		
	</div>
</div>